In [45]:
import pandas as pd
import os

In [46]:

print(os.getcwd())

/Users/shaochuyan/Desktop/amazon scrapying project

In [47]:
df = pd.read_csv("amazon_scrapy_results.csv")

In [48]:
df.shape

(560, 14)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     560 non-null    object
 1   Product Name                    559 non-null    object
 2   Brand                           553 non-null    object
 3   Product ID                      559 non-null    object
 4   Price                           549 non-null    float64
 5   Rating                          559 non-null    float64
 6   Number of Reviews               559 non-null    float64
 7   Parent Category                 465 non-null    object
 8   Sub Category                    465 non-null    object
 9   Sales Rank(in parent category)  465 non-null    float64
 10  Sales Rank(in sub category)     465 non-null    float64
 11  Release Date                    302 non-null    object
 12  Country of Origin               0 non-null      float64
 13  Purchased in Last Month         282 non-null    float64
dtypes: float64(7), object(7)
memory usage: 61.4+ KB

In [50]:
df.isnull().sum()

Product Url                         0
Product Name                        1
Brand                               7
Product ID                          1
Price                              11
Rating                              1
Number of Reviews                   1
Parent Category                    95
Sub Category                       95
Sales Rank(in parent category)     95
Sales Rank(in sub category)        95
Release Date                      258
Country of Origin                 560
Purchased in Last Month           278
dtype: int64

In [51]:
df = df.dropna(subset=['Product ID'])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 559 entries, 1 to 559
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     559 non-null    object
 1   Product Name                    559 non-null    object
 2   Brand                           553 non-null    object
 3   Product ID                      559 non-null    object
 4   Price                           548 non-null    float64
 5   Rating                          559 non-null    float64
 6   Number of Reviews               559 non-null    float64
 7   Parent Category                 465 non-null    object
 8   Sub Category                    465 non-null    object
 9   Sales Rank(in parent category)  465 non-null    float64
 10  Sales Rank(in sub category)     465 non-null    float64
 11  Release Date                    302 non-null    object
 12  Country of Origin               0 non-null      float64
 13  Purchased in Last Month         282 non-null    float64
dtypes: float64(7), object(7)
memory usage: 65.5+ KB

In [53]:
df['Sales Rank(in parent category)'].mode()

0    24.0
1    63.0
2    65.0
Name: Sales Rank(in parent category), dtype: float64

In [54]:
df['Sales Rank(in sub category)'].mode()

0    1.0
Name: Sales Rank(in sub category), dtype: float64

In [55]:
print(df['Sales Rank(in parent category)'].median())
print(df['Sales Rank(in sub category)'].median())

51.0
1.0

In [56]:
df['Sales Rank(in parent category)'] = df['Sales Rank(in parent category)'].fillna(df['Sales Rank(in parent category)'].median())
df['Sales Rank(in sub category)'] = df['Sales Rank(in sub category)'].fillna(df['Sales Rank(in sub category)'].median())
df['Purchased in Last Month'] = df.groupby('Parent Category')['Purchased in Last Month'].transform(lambda x: x.fillna(x.mean()))


df['Price'] = df.groupby('Parent Category')['Price'].transform(lambda x: x.fillna(x.mean()))

In [57]:
df['Release Date'] = pd.to_datetime(df['Release Date'], errors='coerce')
df['Release Date'] = df['Release Date'].fillna(method='ffill')

/var/folders/_7/rrwl9ccj0xn3phl9qn7f5npw0000gn/T/ipykernel_2360/3969675166.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Release Date'] = df['Release Date'].fillna(method='ffill')

In [58]:
df['Parent Category'] = df['Parent Category'].fillna('Unknown')
df['Sub Category'] = df['Sub Category'].fillna('Unknown')
df['Brand'] = df['Brand'].fillna('Unknown')

df = df.drop(columns=['Country of Origin'])

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 559 entries, 1 to 559
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     559 non-null    object
 1   Product Name                    559 non-null    object
 2   Brand                           559 non-null    object
 3   Product ID                      559 non-null    object
 4   Price                           465 non-null    float64
 5   Rating                          559 non-null    float64
 6   Number of Reviews               559 non-null    float64
 7   Parent Category                 559 non-null    object
 8   Sub Category                    559 non-null    object
 9   Sales Rank(in parent category)  559 non-null    float64
 10  Sales Rank(in sub category)     559 non-null    float64
 11  Release Date                    537 non-null    datetime64[ns]
 12  Purchased in Last Month         358 non-null    float64
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 61.1+ KB

In [60]:
df.isnull().sum()

Product Url                         0
Product Name                        0
Brand                               0
Product ID                          0
Price                              94
Rating                              0
Number of Reviews                   0
Parent Category                     0
Sub Category                        0
Sales Rank(in parent category)      0
Sales Rank(in sub category)         0
Release Date                       22
Purchased in Last Month           201
dtype: int64

In [61]:
df.nunique()

Product Url                       559
Product Name                      559
Brand                             362
Product ID                        559
Price                             282
Rating                             13
Number of Reviews                 554
Parent Category                     9
Sub Category                      282
Sales Rank(in parent category)    102
Sales Rank(in sub category)        15
Release Date                      283
Purchased in Last Month            32
dtype: int64

In [62]:
df.shape

(559, 13)

In [63]:
df.drop_duplicates(inplace=True)

In [64]:
df.shape

(559, 13)

In [65]:
df.to_csv("cleaned_data.csv",index=False)